<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Not Churn</title>
    <style>
        body {
            background-image: url("{{url_for('static', filename='not churn.jpg')}}");
            background-repeat: no-repeat;

            background-size: 900px 400px;
            background-position: top        
        }
    </style>
</head>
<body>
<h1 style="font-style: italic;font-weight: bold;text-align: center;">Customer Not Churn</h1>
    
</body>
</html>